<nav class="border-b border-zinc-900 bg-black/90 backdrop-blur sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
        <a href="/" class="text-white font-bold text-lg">
            <img class="w-[120px]" src="/assets/img/logo.png" alt="obsidian-logo">
        </a>
        <div class="flex items-center gap-8 text-xs text-zinc-500">
            <a href="{{ route('site.home') }}" class="hover:text-white transition-colors text-[16px]">Homepage</a>
            <a href="{{ route('doc.installation') }}" class="hover:text-white transition-colors text-[16px]">Docs</a>
            <a href="https://github.com/obsidian-framework" target="_blank" class="hover:text-white transition-colors text-[16px]">GitHub</a>
        </div>
    </div>
</nav>